@charset "UTF-8";

ul{
	list-style:none;
<<<<<<< HEAD

}

.align-left{
	float:left;
	padding:5px;
	width:50%;
=======
	display: inline-block;
	
}

ul li{
	display: inline-block;
	
}

.align-left{
	float:left;
	padding:5px;
	width:50%;
}

.align-center2{
	margin:0 auto;
>>>>>>> branch 'main' of https://github.com/park-kyutae/Coudy.git
}



